- left_skrollr_data = { '0' => 'opacity: 1; top: 0px; left: 0px', '500' => 'opacity: 0; top: -200px; left: -300px' }
- right_skrollr_data = { '0' => 'opacity: 1; top: 0px; right: 0px', '500' => 'opacity: 0; top: -200px; right: -300px' }

#landing.decorations-box
  .frizz-shadow{ data: left_skrollr_data }= image_tag 'frizz-shadow', class: 'wind-blown-animation'
  .frizz-shadow.inverted{ data: right_skrollr_data }= image_tag 'frizz-shadow', class: 'wind-blown-animation'
  .frizz{ data: left_skrollr_data }= image_tag 'frizz', class: 'wind-blown-animation'
  .frizz.inverted{ data: right_skrollr_data }= image_tag 'frizz', class: 'wind-blown-animation'
  .bangs{ data: left_skrollr_data }= image_tag 'bangs'
  .bangs.inverted{ data: right_skrollr_data }= image_tag 'bangs'

  .main-container
    = image_tag 'logo', class: 'logo'
    = form_for :search, method: :get do |f|
      = f.text_field :query

#usp.usp-box
  = link_to '#usp', class: 'scroll-call' do
    .scroll-call-arrow
  .container
    %h1 Pages#home
    %p Find me in app/views/pages/home.html.erb
