#main.decorations-box{ data: {:'relative-input' => "true" } }
  .layer
    .main-container
      = image_tag 'logo', class: 'logo'
      = form_for :search, method: :get do |f|
        = f.text_field :query
  .layer{data: { depth: "0.3" } }
    .frizz-shadow= image_tag 'frizz-shadow', class: 'wind-blown-animation'
    .frizz-shadow.inverted= image_tag 'frizz-shadow', class: 'wind-blown-animation'
  .layer{data: { depth: "0.1" } }
    .frizz= image_tag 'frizz', class: 'wind-blown-animation'
    .frizz.inverted= image_tag 'frizz', class: 'wind-blown-animation'
  .layer
    .bangs= image_tag 'bangs'
    .bangs.inverted= image_tag 'bangs'


#usp.usp-box
  = link_to '#usp', class: 'scroll-call' do
    .scroll-call-arrow
  .container
    %h1 Pages#home
    %p Find me in app/views/pages/home.html.erb
