- unless controller_name == 'pages'
  - content_for :javascript do
    = javascript_tag do
      -# == window.location = '##{action_name}';
      == document.smoothScrollTo(document.getElementById('#{action_name}'));

- left_skrollr_data = { '0' => 'opacity: 1; transform: translate(0px, 0px)', '500' => 'opacity: 0; transform: translate(-300px, -200px)' }
- right_skrollr_data = { '0' => 'opacity: 1; transform: translate(0px, 0px) rotateY(180deg)', '500' => 'opacity: 0; transform: translate(300px, -200px) rotateY(180deg)' }
- top_skrollr_data = { '0' => 'opacity: 0.05; transform: translateY(0px) scale(1)', '500' => 'opacity: 0.02; transform: translateY(-200px) scale(1.5)' }
- fade_skrollr_data = { '0' => 'opacity: 1', '50' => 'opacity: 0; display: block', '51' => 'display: none' }

#landing.decorations-box
  .d-none.d-xl-block
    .frizz-shadow{ data: left_skrollr_data }= image_tag 'frizz-shadow.svg', class: 'wind-blown-animation', alt: 'Frizz'
    .frizz-shadow.inverted{ data: right_skrollr_data }= image_tag 'frizz-shadow.svg', class: 'wind-blown-animation', alt: 'Frizz'
    .frizz{ data: left_skrollr_data }= image_tag 'frizz.svg', class: 'wind-blown-animation', alt: 'Frizz Shadow'
    .frizz.inverted{ data: right_skrollr_data }= image_tag 'frizz.svg', class: 'wind-blown-animation', alt: 'Frizz Shadow'
    .bangs{ data: left_skrollr_data }= image_tag 'bangs.svg', alt: 'Bangs'
    .bangs.inverted{ data: right_skrollr_data }= image_tag 'bangs.svg', alt: 'Bangs'

  .main-container
    = image_tag 'logo.svg', class: 'logo', alt: 'Frizz Bird'
    = image_tag 'logo-shadow.svg', class: 'logo-shadow', data: top_skrollr_data, alt: 'Frizz Bird Shadow'
    = render 'components/product-search'

  = link_to '/#sp', class: 'scroll-call scroll-to', title: 'Rolar abaixo', data: fade_skrollr_data do
    .scroll-call-arrow

#search.content{ class: @items ? '' : 'd-none' }
  .darkruby-wrapper.vcentered-wrapper
    .results-content.container.padded= render 'products/search' if @items
#show.content{ class: @product ? '' : 'd-none' }
  .darkruby-wrapper.vcentered-wrapper
    .results-content.container.padded= render 'products/show' if @product
#ean_not_found.content{ class: @product ? '' : 'd-none' }
  .darkruby-wrapper.vcentered-wrapper
    .results-content.container.padded= render 'products/ean_not_found' if @not_found

.sp-wrapper
  #sp.container.padded
    %h2 Descubra a composição de shampoos e outros produtos para cabelo
    %h3 Busque e descubra de onde estiver
    = render 'components/selling-points'

= render 'components/footer'